<header>
    <h3>
    Something went wrong</h3>
    <a {{action 'destroy'}}><i class="fa fa-times"></i></a>
</header>


<ul>
    {{#each dataSource as | error |}}
    <li><i class="fa fa-times error-icon"></i>{{error.label}}</li>
    {{/each}}
</ul>