$error-color: #ff4b47;

ol,
ul {
  margin: 0px;
  padding: 0px;
}

ol li,
ul li {
  list-style: none;
}

a {
    cursor: pointer;
  }


  h1,h2,h3 {
    margin: 0px;
  }


input {}

input:focus {
  outline: 0;
  background-color: #fff;
  border-color: #1c86f2!important;
  box-shadow: 0 0 1px #1c86f2 inset!important;
}

label {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, .54);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;

  .required {
    color: $error-color;
  }
}