.x-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .has-error {
    border-color: $error-color;
  }
}

.x-input input.trans {
  border: none;
  background: none;
  outline: 0;
}

.x-input input:focus {
  box-shadow: none !important;
}

.x-input input {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 40px;
  outline: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: none;
  padding: 0 12px;
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
}

.input-wrap {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

.password-input.focused {
  .input-wrap {
    border-color: #1c86f2 !important;
  }
}
