@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './defaults';
@import './inputs';
body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.02);
}

$primary-toggle-password-color: #eee;
.toggle-password {
  background: $primary-toggle-password-color;
  color: #333;
  /* padding: 2px; */
  border-radius: 3px;
  text-transform: uppercase;
  display: flex;
  margin: 4px;
  padding: 2px 8px;
  justify-content: baseline;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  &:hover,
  &:focus {
    background: darken($primary-toggle-password-color, 5%);
  }
}

.sign-up-card {
  border: 1px solid #d9d9d9;
  padding: 32px;
  background: rgba(255, 255, 255, 1);
  max-width: 480px;
  margin: 0 auto;
}

.sign-up-card h1 {
  margin-bottom: 16px;
}

.logo-wrapper {
  background-color: #138ad3;
  margin: 0 auto 16px;
  padding: 14px 24px 17px 28px;
}

.progress-wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.strength-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.strength-bar .progress {
  box-shadow: none;
  border-radius: 0;
  height: 8px;
  margin: 0 0 5px;
  display: flex;
  flex-direction: row;
  flex: 2 0;
  background-color: #f3f4f5;
}

.strength-bar .status-description {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 8px 8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.strength-bar .inner {
  width: 100%;
  line-height: 12px;
  font-size: 10px;
  box-shadow: none;
  display: flex;
  transition: all 0.3s;
}

.strength-bar.weak .inner {
  background: #ff4b47;
}

.strength-bar.medium .inner {
  background: #f9ae35;
}

.strength-bar.strong .inner {
  background: #2daf7d;
}

$primary-submit-color: #138ad3;
button {
  cursor: pointer;
}

button.primary-btn {
  color: rgba(255, 255, 255, 1);
  background: $primary-submit-color;
  border: none;
  font: 15px 'Lato';
  font-weight: 600;
  box-shadow: none;
  padding: 12px 24px;
  border-radius: 3px;
  outline: none;
  &:hover,
  &:focus {
    background: darken($primary-submit-color, 5%);
  }
}

.password-feedback li {
  font-weight: 600;
  color: rgba(0, 0, 0, .64);
  margin-bottom: 4px;
}

.content-wrapper {
  margin: 0 auto;
}

.icon {
  margin-right: 8px;
}

.tick-icon {
  font-size: 96px;
  color: green;
}

.info-icon {
  @extend .icon;
  color: #359CF9;
}

.warning-icon {
  @extend .icon;
  color: #f9ae35;
}

.error-icon {
  @extend .icon;
  color: $error-color;
}

.success-panel {
  padding: 32px 16px 32px;
  width: 320px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {}
  .description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    text-align: center;
  }
  .tick-icon {
    @extend .tick-icon;
    font-size: 96px;
  }
  .content {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.errors {
  background: lighten($error-color, 35%);
  padding: 8px;
  margin: 0 0 16px;
  border: 1px solid $error-color;
  li {
    color: rgba(0, 0, 0, 0.86);
  }

  h3 {
    margin: 0px 0px 8px;
    padding: 0px;
    font-weight: 600;
    color: #333;
    font-size: 14px;
  }

  header {
    display: flex;
    justify-content: space-between
  }
}
