{{#if data}}
<div class="progress-wrap">
	<div class="progress">
		<div class="inner" style={{width}}></div>
</div>
<span class="status-description">
	{{strength.label}}
</span>
</div>

<div class="password-feedback">
	<ul>
		{{#if data.feedback.warning}}
			<li><i class="fa fa-warning warning-icon"></i>{{data.feedback.warning}}</li>
		{{/if}} 
		{{#each data.feedback.suggestions as | suggestion|}}
			<li><i class="fa fa-info-circle info-icon"></i>{{suggestion}}</li>
		{{/each}}
	</ul>
</div>
{{/if}}