<label id=”username-password”>{{label}}</label>
<div class="input-wrap">
{{input class="trans" placeholder=placeholder type=showHideType value=value}}
<span {{action 'toggleType'}} class="toggle-password">{{showHideLabel}}</span>
</div>


{{misc/password-strength-bar dataSource=value}}

