<div class="content-wrapper">
  <section class="sign-up-card">

    <h1>Sign Up</h1>

    <form>

      {{#if errors}}
      {{misc/error-panel dataSource=errors clearErrors="clearErrors"}}
      {{/if}} 
      {{inputs/x-input type="email" label="Username" placeholder="Enter a username" value=username}} 
      {{inputs/password-input label="Password" placeholder="Enter a password" value=password}}

      <button class="primary-btn submit-btn" {{action 'validateAccount'}}>Create an account</button>

    </form>
  </section>
</div>