<div class="content-wrapper">


    <div class="success-panel" style="box-shadow:1px 1px 2px #aaa;">


<div class="content">

<i class="fa fa-check tick-icon"></i>
</div>


<h3>Success</h3>

<p class="description">Congratulations, your account has been created. Click finish to reset.</p>

<button class="primary-btn" {{action 'reset'}}>Finish</button>

</div>

</div>